<nav class="navbar">
    <div class="navbar-brand">
      <fa-icon [icon]="faHome"></fa-icon>
      <span>Mon Application</span>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">
          <fa-icon [icon]="faUser"></fa-icon> Connexion
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/inscription">
          <fa-icon [icon]="faUser"></fa-icon> Inscription
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon> Déconnexion
        </a>
      </li>
    </ul>
  </nav>
  