<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
      <h2 class="form-title text-center mb-4">Mot de passe oublié</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" type="email" formControlName="email" class="form-control" placeholder="Entrez votre email" />
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
            Email requis
          </div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary btn-block">Envoyer le lien de réinitialisation</button>
      </form>
    </div>
  </div>
  