/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .content {
    min-height: calc(100vh - 80px); /* Ajuste pour prendre en compte la taille du header et footer */
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  